<div class="row">
    <div class="col-6">
        <app-dona title="Ventas" [doughnutChartLabels]="labels1" [doughnutChartData]="data1"></app-dona>
    </div>  
    <div class="col-6">
        <app-dona title="Otra xd" [doughnutChartLabels]="labels2" [doughnutChartData]="data2"></app-dona>
    </div>
    <div class="col-6">
        <app-dona title="Otra xd1" [doughnutChartLabels]="labels3" [doughnutChartData]="data3"></app-dona>
    </div>
    <div class="col-6">
        <app-dona title="Otra xd122" [doughnutChartLabels]="labels4" [doughnutChartData]="data4"></app-dona>
    </div>
</div>
